<!DOCTYPE html>
<html>
  <head>
    <title>Blackjack!</title>
    <link rel="stylesheet" href="/vendor/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/application.css">
    <script type="text/javascript" src="/jquery-2.0.3.min.js"></script>
    <script type="text/javascript" src="/misc.js"></script>
    <script type="text/javascript" src="/vendor/bootstrap/js/bootstrap.js"></script>
  </head>

  <body style="padding-top: 50px;">

    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
            <ul class="nav">
              <li><a href="/">Home</a></li>
              <li><a href="/rules">Rules</a></li>
              <li><a href="/about">About</a></li>
              <li><a href="/contact">Contact</a></li>
            </ul>
        </div>
      </div>
    </div>

  <div class="container">
  <%if @scores %>
    <%if @error %>
      <div id="bust_alert" class="alert alert-error">
        <!-- bust -->
        <h2><%= @error%> has busted!</h2>
    <%elsif @special %>
      <div id="score_alert" class="alert">
        <h2>BLACKJACK!</h2>
        <h3><%=session[:player]%> won $<%=session[:wager]%>.</h3>
    <%elsif @scores %>
      <div id="score_alert" class="alert">
        <h3><%=session[:player]%> <%= @player_results %> $<%=session[:wager]%>.</h3>
    <% end %>
    <h4 style="margin-bottom: 5px;">What do you want to do next?</h4>
      <form id="newround_form">
        <a id="newround" role="button" href="#wagerModal" data-toggle="modal" class="btn btn-success">Next Hand</a>
      </form>
      <form id="restart_form" action="/" method="get">
        <button class="btn btn-inverse">End Game</button>
      </form>
    </div>
  <%end%>
      <%= yield %>
  </div>
  </body>
</html>

<!-- wagermodal -->
<div id="wagerModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="wagerModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="wagerModalLabel">New Round</h3>
  </div>
  <div class="modal-body">
    <h4>New Wager: </h4>
    <form name="newround_wager" method="post" action="/newround">
      <div id="wager-div" class="input-append input-prepend">
        <span class="add-on">$</span>
        <input class="input-small" id="input-append input-prepend" type="text" name="wager" autofocus>
      </div>
      <br>
      <button type='submit' class="btn btn-large btn-danger">START!</button>
    </form>
  </div>
</div>
